include _variables
include _mixins

doctype html
html(lang="en")
  include _head

  body
    #app.site-shell
      header.site-header
        p.eyebrow 2026 Minnesota State Fair
        h1 #{playerName}'s Card

      main.card-shell
        p The bingo grid is coming next.
        a.back-link(href="../") View all Cards

    include _javascripts
