.javascripts
  if testing
    script(src="https://unpkg.com/vue@3/dist/vue.global.js")
  else
    script(src="https://unpkg.com/vue@3/dist/vue.global.prod.js")

  script(type="module" src=assetPath + "js/min/ts/site.js?updated=" + lastUpdated)
