- const liveURL = "https://ahoylemon.github.io/bingope/"
- const localURL = "http://localhost:3000/"
- const siteTitle = "BINGOPE"
- const siteEmail = ""
- const description = "Personal bingo Cards for the 2026 Minnesota State Fair."

// Don't change below this line
if testing == undefined
  - const testing = true
- const siteURL = testing === true ?  localURL : liveURL
- const deployedBuildId = typeof buildId === "string" ? buildId : "development"
- const lastUpdated = typeof assetVersion === "string" ? assetVersion : deployedBuildId
