// COLORS //////////////////////////////////////////////////////////////////////////////////
$navy: #162447;
$blue: #21a8eb;
$green: #247c42;
$purple: #30266d;
$dark-gray: #34343c;
$ink: #10192f;
$card: #f9faf8;
$paper: #fdfaf2;
$page-paper: #eee8d8;

// COLOR UTILITIES
$body: $page-paper;
$copy: $ink;
$link: $blue;
$accent: $green;
$focus: #e9eab9;

// FONTS ////////////////////////////////////////////////////////////////////////////////
$light: 300;
$medium: 400;
$bold: 700;

// FONT UTILITIES /////////////////////////////////////////////////////////////////////
$grid-display: "Oswald", "Arial Narrow", "Helvetica Neue Condensed", sans-serif;
$ticket-serif: "Zilla Slab", Rockwell, "Roboto Slab", Georgia, serif;
$font-family: $ticket-serif;
$headline: $ticket-serif;

// MEASUREMENTS //////////////////////////////////////////////////////////////////////
$mobile-max: 767px;
$desktop-min: 768px;
$max-width: 1200px;
